<!DOCTYPE html>
<html lang="en" data-ng-app="app">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="El Cubo 9 - Un mesonero en tu celular">
    <meta name="author" content="elcubo9">
    <title>El Cubo 9 - El mesero en tu celular</title>
    @Styles.Render("~/content/app-login")
</head>
<body data-ng-controller="appLoginController">
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-56026603-3', 'auto');
        ga('send', 'pageview');

    </script>
    <div data-ng-view="" class="view"></div>
    <script>
        var APIURL = '@APP._API_URL';
        var RedirectUri = '@(Url.Action("index","home",null,"http"))';
        var InternUrl = '/intern';
    </script>
    @Scripts.Render("~/bundles/app-login")
    @Scripts.Render("~/bundles/app/angular-login")
</body>
</html>
